<article>

	<h1>Comments for <%= link_to(@post.title, @post) %></h1>

	<ul>
	  <% @comments.each do |comment| %>
	    <li>
	      <p>
	        from <%= comment.name %>:
	      </p>
	      <p>
	      	<%= time_ago_in_words(comment.created_at) %> ago
	      </p>
	      <p>
	        <%= comment.comment %>
	      </p>
	    </li>
	  <% end %>
	</ul>

	<% if current_user %>
    <%= link_to "Write Comment", new_post_comment_path(@post) %>
  <% else %>
    Must be <%= link_to "signed in", new_session_path %> to post a comment.
  <% end %>

</article>