<article>

	<h1>Leave a comment on <%= link_to(@post.title, @post) %></h1>

	<%= form_for([@post, @comment]) do |f| %>
	  <%= render "shared/errors", object: @comment %>
	  <p class="required">
	    <%= f.label :comment %><br/>
	    <%= f.text_area :comment %>
	  </p>
	  <p>
	    <%= f.submit 'Post Comment' %>
	    <%= link_to "Cancel", @post, class: 'button' %>
	  </p>
	<% end %>

</article>