<article>
  <h3><%= pluralize(@posts.size, 'Post') %></h3>
  
  <% @posts.each do |post| %>
    <div class='post-title'><%= link_to post.title, post %></div>
    <div><%= post.published_on.strftime("%A %m/%d/%Y") %></div>
    <div class="post">
      <span>
        <%= image_tag(post.image_file_name) %>
      </span>
      <span class="post-summary">
        <p><%= truncate(post.body, length: 125, separator: ' ') %><%= link_to " (read more)", post %></p>
      </span>
    </div>
  <% end %>

</article>

<% content_for(:sidebar) do %>
  <% if current_user_admin? %>
    <li>Admin</li>
    <li><%= link_to("Add new post", new_post_path, class: 'btn') %></li>
  <% end %>
<% end %>