<article class="container">
  <h1><%= @post.title %></h1>
  <h4>Published on: <%= @post.published_on.strftime("%A %m/%d/%Y") %></h4>
  <h5>Author: <%= @post.author %></h5>
  <% if @project %>
    <h5>Project: <%= link_to @project.name, @project %></h5>
  <% end %>
  <h5>Topics:</h5>
  <ul>
    <% @topics.each do |topic| %>
      <li>
        <%= topic.name %>
      </li>
    <% end %>
  </ul>
  <%= image_tag(@post.image_file_name) %>
  <p><%= markdown(@post.body) %></p>
  <div>
    <% if current_user %>
      <% if @current_like %>
          <%= link_to sanitize('<i class="fa fa-thumbs-o-down" aria-hidden="true"></i>'), post_like_path(@post, @current_like), method: :delete %>
        <% else %>
          <%= link_to sanitize('<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>'), post_likes_path(@post), method: :new %>
        <% end %><%= pluralize(@likers.size, "Like") %>
        <% end %>
    </div>

  <% if @comments.any? %>
    <div>
      <h3>Comments</h3>
      <div>
        <% @comments.each do |comment| %>
          <div>
            <%= link_to comment.user.name, comment.user %>
            <%= comment.comment %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  Leave a reply
  <% if current_user %>
    <%= render 'comments/form' %>
  <% else %>
    <%= render 'comments/form_guest' %>
  <% end %>  

  <% if current_user_admin? %>
    <div>
      <h3>Admin Options</h3>
      <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  <% end %>

</article>