<nav class="navbar navbar-expand-sm">
  
  <!-- Brand -->
  <%= link_to("Enciphered By", root_url, class: "site-title") %>

  <!--Toggled navbar dropdown-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">   
    <ul class="navbar-nav mr-auto">
      <%= content_for(:admin) %>
      <li class="nav-item">
        <%= link_to "Blog", posts_path, class: 'btn' %>
      </li>
      <li class="nav-item">
        <%= link_to "Projects", projects_path, class: 'btn' %>
      </li>
      <% if current_user %>
        <li><%= link_to "Settings", edit_user_path(current_user), class: 'btn' %></li>
        <li><%= link_to "Sign Out", session_path, method: :delete, class: 'btn' %></li>
    <% else %>
      <li><%= link_to "Sign up!", signup_path, class: 'btn' %></li>
      <li><%= link_to "Sign in", new_session_path, class: 'btn' %></li>
    <% end %>
    </ul>
  </div>
</nav>