<div class="navbar">
  <div>
    <%= content_for(:admin) %>
    <span><%= link_to "Posts", posts_path, class: 'btn' %></span>
    <% if current_user %>
      <span><%= link_to "Settings", edit_user_path(current_user), class: 'btn' %></span>
      <span><%= link_to "Sign Out", session_path, method: :delete, class: 'btn' %></span>
    <% else %>
      <span><%= link_to "Sign up!", signup_path, class: 'btn' %></span>
      <span><%= link_to "Sign in", new_session_path, class: 'btn' %></span>
    <% end %>
  </div>
</div>